
@model dynamic
@{
    ViewBag.Title = "Statistic";
    var id = ViewData["id"];

}

<h2>Statistic</h2>
@if (Context.User.IsInRole("Admin"))
{
<form action="~/Chapters/Statistic">

    <label for="cars">Choose a USER:</label>

    <select name="user" id="user">
        @foreach (Flashcards.Models.Profile profile in Model.Users)
        {
            <option value=@profile.ID>@profile.UserName</option>
        }


    </select>
    <input value=@id type="hidden" name="id" />
    <input type="submit" value="Shearch"/>

</form>
}


    <table class="table">
        <tr>

            <th>
                Word1
            </th>
            <th>
              Word2
            </th>
            <th>
                CorrectAnswers 
            </th>
           
            <th></th>
        </tr>

        @foreach (Flashcards.Models.Answer answer in Model.Answers)
        {
            <tr>
                <td>
                    @answer.FlashCard.Word1
                </td>

                <td>
                    @answer.FlashCard.Word2
                </td>

                <td>
                   @answer.CorrectAnswers
                </td>
               



            </tr>
        }

    </table>
