@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flashcard</h1>
    <p class="lead">Flashcard is a card,bearing inormation on both sides, whith is intened to be used as an aid  memorization   .</p>
    <p><a href="https://en.wikipedia.org/wiki/Flashcard" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

